/* =================== preview =================== */
#preview {
  position: absolute;

  height: 640px;
  width: 360px;

  margin: 10px;
  border: 2px solid #666;
}
#preview div{
  position: absolute;
}

/* =================== app =================== */
#app {
  position: relative;

  margin-left: 370px;
  padding: 10px;
}
#app >.nav{
  position: fixed;
  width: 100%;
}
#app >div{
  min-height: 600px;

  margin-top: 41px;
  padding-top: 10px;
  border-left: 1px solid #ddd;
}
#app .row{
  margin-top: 10px;
}
#app .row:first-child{
  margin-top: 0px;
}
#app .editor-view .view-toolbar{
  position: absolute;
  min-height: 541px;
  width: 50px;

  padding: 0;
  margin-left: 5px;
  text-align: center;

  border: 1px solid #ddd;
}
#app .editor-view .view-toolbar>li{
  list-style: none;
  padding-top: 5px;
}
#app .editor-view .view-content{
  position: relative;

  margin-left: 60px;
}

#app .view-element-define{
  padding: 5px;

  border: 1px dashed #336;
  border-radius: 3px;
}
#app .view-element-define.active {
  background-color: #dfd;
}