html, body, .main{
  height: 100%;
}

.main {
  position: relative;
  padding: 10px;
}
/* =================== preview =================== */
#preview {
  position: absolute;

  height: 640px;
  width: 360px;

  border: 2px solid #666;
}
#preview div{
  position: absolute;
}

/* =================== app =================== */
#app {
  position: relative;

  margin-left: 370px;
  padding: 5px;
  height: 100%;
  max-width: 560px;
}
#app >.nav{
  position: absolute;
  z-index: 100;
  width: 100%;
}
#app >div{
  height: 100%;
  max-height: 100%;

  padding-top: 51px;
}
#app .row{
  margin-top: 10px;
}
#app .row:first-child{
  margin-top: 0px;
}
#app .editor-toolbar {
  position: absolute;
}
#app .editor-view {
  margin-top: 0px;
  padding-top: 45px;
  height: 100%;
}
#app .editor-view .view-toolbar{
  position: absolute;
  width: 50px;

  padding: 0px 0px 5px;
  margin-left: 5px;
  text-align: center;

  border: 1px solid #ddd;
}
#app .editor-view .view-toolbar>li{
  list-style: none;
  padding-top: 5px;
}
#app .editor-view .view-content{
  position: relative;

  margin: 0px 0px 0px 60px;
  max-height: 100%;

  overflow-y: scroll;
}

#app .view-element-define{
  padding: 5px 0px;

  border: 1px dashed #336;
  border-radius: 3px;
}
#app .view-element-define.active {
  background-color: #dfd;
}
#app .view-element-define >div{
  margin-bottom: 5px;
}
#app .view-element-define >div>div{
  float:left;
  margin-right:5px;
}
#app .view-element-define >div>div:last-child{
  margin-right:0px;
}

pre .json-string { color: green; }
pre .json-number { color: darkorange; }
pre .json-boolean { color: blue; }
pre .json-null { color: magenta; }
pre .json-key { color: red; }